! ------------------------------------------------------------------------------
! Defining Color Scheme
! ------------------------------------------------------------------------------
#define xbackground #052832
#define xforeground #658899
#define xcursor     #49796b

#define black       #052832
#define bblack      #707573

#define red         #d74937
#define bred        #e02c6d

#define green       #b58900
#define bgreen      #7d9002

#define yellow      #e0301e
#define byellow     #16a085

#define blue        #428BCA
#define bblue       #559eb3

#define magenta     #a03470
#define bmagenta    #9360a2

#define cyan        #8c95dd
#define bcyan       #c45aec

#define white       #576e74
#define bwhite      #93a1a1

! ------------------------------------------------------------------------------
! Settin up Color Scheme
! ------------------------------------------------------------------------------
*.background: xbackground
*.foreground: xforeground
*.cursorColor: xcursor

*.color0:           black
*.color8:           bblack

*.color1:           red
*.color9:           bred

*.color2:           green
*.color10:          bgreen

*.color3:           yellow
*.color11:          byellow

*.color4:           blue
*.color12:          bblue

*.color5:           magenta
*.color13:          bmagenta

*.color6:           cyan
*.color14:          bcyan

*.color7:           white
*.color15:          bwhite

*.depth: 32

! ------------------------------------------------------------------------------
! Xft
! ------------------------------------------------------------------------------
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! ------------------------------------------------------------------------------
! Urxvt
! ------------------------------------------------------------------------------
! Work around for ssh
URxvt*termName: rxvt

! Font
URxvt*font: xft:inconsolata:pixelsize=15
!URxvt.letterSpace: 1

! Cursor
URxvt.cursorBlink: 0

! Disabling scrollbar, setting it as login shell
xterm*termName: xterm-256color
URxvt.scrollBar: false
URxvt*loginShell: true

! Set terminal padding
URxvt.internalBorder: 6

! Enables copy/paste with Ctrl-Shift-C/V, Yankeable urls, and scrollwheel
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

! Default browser for launching urls
URxvt.url-launcher: /home/curiousx/firefox/firefox
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.matcher.button: 1

! Url history
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

! Url color
URxvt.colorUL: #E0301E

! rxvt-unicode bell feeds from irssi and alike
URxvt.urgentOnBell:  true
URxvt*metaSendsEscape: true

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #002b36, #002b36, #7d9002
rofi.color-normal: #002b36, #eee8d5, #002b36, #002b36, #f39c11
rofi.color-active: #002b36, #eee8d5, #002b36, #002b36, #f39c11
rofi.color-urgent: #002b36, #dc322f, #002b36, #002b36, #e02c6d
