! ------------------------------------------------------------------------------
! Defining Color Scheme
! ------------------------------------------------------------------------------
#define xbackground #1E2122
#define xforeground #888888
#define xcursor     #333333

#define black       #555555
#define bblack      #666666

#define red         #EC6B64
#define bred        #FE9F29

#define green       #98971a
#define bgreen      #b8bb26

#define yellow      #d79921
#define byellow     #fabd2f

#define blue        #458588
#define bblue       #83a598

#define magenta     #b16286
#define bmagenta    #d3869b

#define cyan        #689d6a
#define bcyan       #8ec07c

#define white       #7c6f64
#define bwhite      #bdae93

! ------------------------------------------------------------------------------
! Settin up Color Scheme
! ------------------------------------------------------------------------------
*.background: xbackground
*.foreground: xforeground
*.cursorColor: xcursor

*.color0:           black
*.color8:           bblack

*.color1:           red
*.color9:           bred

*.color2:           green
*.color10:          bgreen

*.color3:           yellow
*.color11:          byellow

*.color4:           blue
*.color12:          bblue

*.color5:           magenta
*.color13:          bmagenta

*.color6:           cyan
*.color14:          bcyan

*.color7:           white
*.color15:          bwhite

*.depth: 32

! ------------------------------------------------------------------------------
! Xft
! ------------------------------------------------------------------------------
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! ------------------------------------------------------------------------------
! Urxvt
! ------------------------------------------------------------------------------
! Work around for ssh
URxvt*termName: rxvt

! Font
URxvt*font: xft:Sauce Code Pro Nerd Font:style=Regular:size=10
URxvt.depth: 32
URxvt.letterSpace: -1

! Cursor
URxvt.cursorBlink: 0

! Disabling scrollbar, setting it as login shell
xterm*termName: xterm-256color
URxvt.scrollBar: false
URxvt*loginShell: true

! Set terminal padding
URxvt.internalBorder: 6

! Enables copy/paste with Ctrl-Shift-C/V, Yankeable urls, and scrollwheel
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

! Default browser for launching urls
URxvt.url-launcher: /usr/bin/firefox
!URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.matcher.button: 1

! Url history
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

! Url color
URxvt.colorUL: #89B482

! rxvt-unicode bell feeds from irssi and alike
URxvt.urgentOnBell:  true
URxvt*metaSendsEscape: true

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled:		 true
rofi.separator-style:	 solid
rofi.hide-scrollbar:	 true
rofi.color-window:		 #191d26, #555555, #ade46b
rofi.color-normal:		 #191d26, #555555, #191d26, #191d26, #ade46b
rofi.font:               Roboto regular 12
rofi.bw:                 2
rofi.padding:            15
rofi.lines:              4
