/*[[AS]]*/@-moz-document regexp('^(?!https?://(www\\.)?(/*[[L1]]*//*[[L2]]*//*[[L3]]*//*[[CE]]*/).*).*$')
{
/* force blk bg. */  html,html[class],html[id],body,body[class],body[id],input
  {
    background: #191d26 !important;
  }
/* force blk bgc */  div:last-child,:not(span),:not(a)
  {
    background-color: #191d26 !important;
    border-color: #555555 !important;
  }
/* force alp bgc */  :link,:visited,a,h1,h2,h3,h4,h5,h6,p,img,video,div,span,img~*,img *,video *,video~*>*,div[style*="text-align:"] *,button,button 
*,div[style*="text-align:"],[style*="background-image:"]~*,div[style*="background-image:"] *,[style*=".gif"],[style*=".jpg"],[style*=".png"]
  {
    background-color: transparent !important;
  }

/*      a */  a,a[class]
  {
    color: #555555 !important;
	font-weight: bold !important;
	text-decoration: none !important;
  }
/* ahover */  a:hover
  {
    color: #c1e436 !important;
	font-weight: bold !important;
	text-shadow: 0 0 2px #c1e436 !important;
  }

a:link *:not(img) { 
	color: #ade46b !important;
	text-shadow: 0px 0px 1px #ade46b !important;
	font-weight: bold !important;
  }

a:visited, 
a:visited * {
	color: #86e2bf !important;
	text-decoration: none !important;
  }

/*     li */  li
  {
    color: #888888 !important;
  }
/*     tr */  tr
  {
    color: #ff55ff !important;
  }
/*   cite */  cite
  {
    color: #555555 !important;
  }
/*  input */  input
  {
    color: #f2f2f2 !important;
  }
/*     em */  em
  {
    color: #666666 !important;
  }
/*     ul */  ul
  {
    color: #ff55ff !important;
  } /* red */
/*   nobr */  nobr
  {
    color: #ff55ff !important;
  } /* red */
/*    div */  div
  {
    color: #888888 !important;
  } /* teal */
/* strong */  strong
  {
    color: #c1e436 !important;
  } /* greenish */
/*      s */  s
  {
    color: #ff55ff !important;
  } /* grey */
/*     h1 */  h1
  {
    color: #555555 !important;
  }
/*     h2 */  h2
  {
    color: #666666 !important;
  }
/*     h3 */  h3
  {
    color: #888888 !important;
  }
/*   rest */  *
  {
    color: #888888 !important;
  }

/* Title/Headline. */  b
  {
    color: #ade46b !important;
  } /* light blue-ish */
/* Text / Comments */  a,span,p,div,textarea,i,td
  {
    color: #555555 !important;
    /*text-shadow: -1px -1px #191d26,1px -1px #191d26,-1px 1px #191d26,1px 1px #191d26 !important;*/
	text-shadow: 0px 0px #191d26,0px 0px #191d26,0px 0px #191d26,0px 0px #191d26 !important;
  } /* white-ish */
/* ff select------ */  ::-moz-selection
  {
    color: #99ffda !important;
    background-color: #212733 !important;
  }
/* txt mark chrome */  ::selection
  {
    color: #fec254 !important;
    background-color: #555555 !important;
  }
/* txt mark others */  ::-webkit-selection
  {
    color: #fec254 !important;
    background-color: #555555 !important;
  }
/* temp: usf icons */  a > span.Sprite16
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}
/* temp-fix: yt-issue div#191d26 breaks hic-img */@-moz-document domain('youtube.com')
{
  .logo:before,span:before,button:before
  {
    content: initial !important;
  }
}
